<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PO</th>
      <th>OEMname</th>
      <th>Status</th>
      <th>Quantity Ordered</th>
      <th>QTY Shipped</th>
      <th>Tracking Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>R-090351</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>R-090351</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>R-090351</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>R-090351</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>100</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td>R-090351</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>16</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>R-090351</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>10</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>R-090397</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>R-090397</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>100</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>R-090397</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>R-090398</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>15</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>R-090398</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>50</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>R-090398</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>R-090407</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>14</th>
      <td>R-090407</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>15</th>
      <td>R-090407</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>108</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>16</th>
      <td>R-090407</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>125</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>17</th>
      <td>R-090407</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>12</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>18</th>
      <td>R-090407</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>112</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>19</th>
      <td>R-090475</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>20</th>
      <td>R-090475</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>37</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>21</th>
      <td>R-090475</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>22</th>
      <td>R-090475</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>100</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>23</th>
      <td>R-090475</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>24</th>
      <td>R-090475</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>10</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>25</th>
      <td>R-090475</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>51</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>26</th>
      <td>R-090512</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>150</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>27</th>
      <td>R-090512</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>10</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>28</th>
      <td>R-090512</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>56</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>29</th>
      <td>R-090512</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>56</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>30</th>
      <td>R-090499</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>31</th>
      <td>R-090499</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>100</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>32</th>
      <td>R-090499</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>33</th>
      <td>R-090499</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>78</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>34</th>
      <td>R-090499</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>78</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>35</th>
      <td>R-090499</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>74</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>36</th>
      <td>R-090527</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>100</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>37</th>
      <td>R-090527</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>12</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>38</th>
      <td>R-090527</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>25</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>39</th>
      <td>R-090527</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>25</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>40</th>
      <td>R-090528</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>41</th>
      <td>R-090528</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>75</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>42</th>
      <td>R-090528</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>10</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>43</th>
      <td>R-090528</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>44</th>
      <td>R-090528</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>105</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>45</th>
      <td>R-090528</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>108</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>46</th>
      <td>R-090554</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>125</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>47</th>
      <td>R-090554</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>48</th>
      <td>R-090554</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>49</th>
      <td>R-090554</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>347</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>50</th>
      <td>R-090554</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>38</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>51</th>
      <td>R-090503</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>52</th>
      <td>R-090503</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>25</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>53</th>
      <td>R-090503</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>54</th>
      <td>R-090503</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>51</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>55</th>
      <td>R-090503</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>51</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>56</th>
      <td>R-090134</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>57</th>
      <td>R-090134</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>58</th>
      <td>R-090134</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>59</th>
      <td>R-088005</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>60</th>
      <td>R-090135</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>61</th>
      <td>R-090135</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>62</th>
      <td>R-090135</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>4</td>
      <td></td>
      <td>467219691\n  R&amp;L TRANSPORTATION</td>
    </tr>
    <tr>
      <th>63</th>
      <td>R-090135</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>3</td>
      <td></td>
      <td>467219691\n  R&amp;L TRANSPORTATION</td>
    </tr>
    <tr>
      <th>64</th>
      <td>R-089105</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>1</td>
      <td>1 of 1</td>
      <td>1Z05V36A0390041212 UPS</td>
    </tr>
    <tr>
      <th>65</th>
      <td>R-088161</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>20</td>
      <td>20 of 20</td>
      <td>622287282 UPS</td>
    </tr>
    <tr>
      <th>66</th>
      <td>876298</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>1</td>
      <td></td>
      <td>1Z8138V80390145423\n  UPS</td>
    </tr>
    <tr>
      <th>67</th>
      <td>876298</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>1</td>
      <td></td>
      <td>1Z8138V80390145423\n  UPS</td>
    </tr>
    <tr>
      <th>68</th>
      <td>876298</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>1</td>
      <td></td>
      <td>1Z8138V80390145423\n  UPS</td>
    </tr>
    <tr>
      <th>69</th>
      <td>876298</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>1</td>
      <td></td>
      <td>1Z8138V80390145423\n  UPS</td>
    </tr>
    <tr>
      <th>70</th>
      <td>876298</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>1</td>
      <td></td>
      <td>1Z8138V80390145423\n  UPS</td>
    </tr>
    <tr>
      <th>71</th>
      <td>R-085229 RMKPANEL</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>11</td>
      <td>11 of 11</td>
      <td>1Z3Y90V10389993634 UPS</td>
    </tr>
    <tr>
      <th>72</th>
      <td>R-084972 RMKPANEL</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>11</td>
      <td>11 of 11</td>
      <td>1Z3Y90V10389993429 UPS</td>
    </tr>
    <tr>
      <th>73</th>
      <td>R-084975 RMKPANEL</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>11</td>
      <td>11 of 11</td>
      <td>1ZA105W30389997215 UPS</td>
    </tr>
    <tr>
      <th>74</th>
      <td>R-085208 RMKPANEL</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>11</td>
      <td>11 of 11</td>
      <td>1ZY365940389992755 UPS</td>
    </tr>
    <tr>
      <th>75</th>
      <td>R-063157 #1 - R</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>1</td>
      <td>1 of 1</td>
      <td>1Z8138V80390060569 UPS</td>
    </tr>
    <tr>
      <th>76</th>
      <td>R-088171</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>10</td>
      <td>10 of 10</td>
      <td>1Z8138V80389946909 UPS</td>
    </tr>
    <tr>
      <th>77</th>
      <td>R-088169</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>12</td>
      <td>12 of 12</td>
      <td>1Z8138V80389959119 UPS</td>
    </tr>
    <tr>
      <th>78</th>
      <td>R-088169</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>11</td>
      <td>11 of 11</td>
      <td>1Z05V36A0390012397 UPS</td>
    </tr>
    <tr>
      <th>79</th>
      <td>R-088007</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>80</th>
      <td>R-088007</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>4</td>
      <td>4 of 4</td>
      <td>1ZY365940389899133 UPS</td>
    </tr>
    <tr>
      <th>81</th>
      <td>R-087993</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>4</td>
      <td>4 of 4</td>
      <td>1ZY365940389895799 UPS</td>
    </tr>
    <tr>
      <th>82</th>
      <td>R-087965</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>15</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>83</th>
      <td>R-087965</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>11</td>
      <td>11 of 11</td>
      <td>1Z8138V80390089253 UPS</td>
    </tr>
    <tr>
      <th>84</th>
      <td>R-087934</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>6</td>
      <td>6 of 6</td>
      <td>1ZY365940389881802 UPS</td>
    </tr>
    <tr>
      <th>85</th>
      <td>R-084972 REPL</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>1</td>
      <td>1 of 1</td>
      <td>1Z8138V80389885645 UPS</td>
    </tr>
    <tr>
      <th>86</th>
      <td>R-085208</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>11</td>
      <td>11 of 11</td>
      <td>1ZY365940389891391 UPS</td>
    </tr>
    <tr>
      <th>87</th>
      <td>R-063157 #2 - R</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>5</td>
      <td>5 of 5</td>
      <td>1Z8138V80389862142 UPS</td>
    </tr>
    <tr>
      <th>88</th>
      <td>R-087758</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>7</td>
      <td></td>
      <td>1ZY365940389842621\n  UPS</td>
    </tr>
    <tr>
      <th>89</th>
      <td>R-087758</td>
      <td>RAB</td>
      <td>Shipped</td>
      <td>2</td>
      <td></td>
      <td>1ZY365940389842621\n  UPS</td>
    </tr>
    <tr>
      <th>90</th>
      <td>R-090135</td>
      <td>Lutrin</td>
      <td>Shipped</td>
      <td>2</td>
      <td></td>
      <td>1ZY365940389842621\n  UPS</td>
    </tr>
  </tbody>
</table>