<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PO</th>
      <th>OEMname</th>
      <th>Status</th>
      <th>Quantity Ordered</th>
      <th>QTY Shipped</th>
      <th>Tracking Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>R-090351</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>R-090351</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>R-090351</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>R-090351</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>100</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td>R-090351</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>16</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>R-090351</td>
      <td>RAB</td>
      <td>Entered</td>
      <td>10</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>